<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
    <style>
        .header {
            height: 14vh;
            padding: 10px 20px;
            position: sticky;
            top: 0;
            z-index: 10;
            align-items: center;
            display: flex;
            justify-content: space-between;
        }
    </style>
    <title>Mis Formularios | Viandas Solidarias</title>
</head>

<body class="body Interno centrado">

    <header class="header">
        <nav>
            <a href="/administrador">
                <img src="../assets/img/logo.png" alt="Logo de Viandas Solidarias" loading="lazy" width="100">
            </a>
            <ul>
                <li>
                    <a href="/cerrarSesion">
                        <img src="../assets/img/cerrarSesion.png" alt="Cerrar sesión" loading="lazy">
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="gestionarFormularios">
        <h1>Mis Formularios</h1>

        <div class="container">
            {{#each formularios}}
                <div class="card" onclick="mostrarFormulario({{this.id}})">
                    <div class="card-title">{{this.nombreForm}}</div>

                    <!-- Lista de preguntas (oculta inicialmente) -->
                    <ul id="preguntas-{{this.id}}" class="lista-preguntas" style="display: none;">
                        {{#each preguntas}}
                            <li>{{this.consulta}}</li>  <!-- Solo mostramos el atributo "consulta" -->
                        {{/each}}
                    </ul>
                </div>
            {{/each}}
        </div>

        <div id="contenedorPreguntas" class="formulario" style="display: none;">
            <h3 id="tituloFormulario">Selecciona un formulario para ver las preguntas</h3>
            <ul id="listaPreguntas"></ul>
        </div>
    </main>



    <footer class="footer">
        <nav>
            <ul>
                <li><a href="/termino">Términos y condiciones</a></li>
                <li><a href="/preguntasFrecuentes">Preguntas frecuentes</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
        </nav>
        <a href="#" class="scroll-to-top" aria-label="Subir al inicio">
            <img src="../assets/img/flecha-hacia-arriba-blanca.png" alt="Ir arriba flecha">
        </a>
</footer>

    <script src="/js/gestionarFormularios.js"></script>
</body>
</html>
