<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viandas Solidarias | Términos y Condiciones</title>
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/estilos.css">
    <style>
        h2{
            font-size: 1.4rem;
            color: var(--color-principal);
            font-weight: bold;
        }
        .terms-container {
            display: flex;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            max-width: 1200px;
            width: 100%;
            margin: 0 auto;
            padding: 20px;
            flex-direction: column;
        }

        .terms-content {
            padding: 30px;
            background-color: #fff;
        }

        .terms-content h1 {
            font-size: 2em;
            text-align: left; /* Alineación a la izquierda */
        }

        .terms-content h2,
        .terms-content p {
            text-align: left; /* Alineación a la izquierda */
        }

        .terms-content .subtitle {
            font-size: 1rem;
            margin-bottom: 10px;
            margin-top: 5px;
            color: #333; /* Color de subtítulo */
        }
    </style>
</head>

<body class="bodyInterno centrado">

<!-- HEADER -->
<header class="header">
    <nav>
        <a href="/inicio">
            <img src="../assets/img/logo.png" alt="Logo de Viandas Solidarias" loading="lazy" width="100">
        </a>
        <ul>
        </ul>

    </nav>
</header>

<!-- MAIN CONTENT -->
<main>
    <div class="terms-container">
        <div class="terms-content">
            <h1>Términos y Condiciones</h1>
            <p>Bienvenido a Viandas Solidarias. Al utilizar nuestro sitio web, aceptas cumplir y estar sujeto a los siguientes términos y condiciones de uso, los cuales, junto con nuestra política de privacidad, rigen la relación de Viandas Solidarias contigo en relación con este sitio web.</p>

            <h2>1. Uso del sitio web</h2>
            <p>El contenido de las páginas de este sitio web es para tu información general y uso personal únicamente. Está sujeto a cambios sin previo aviso.</p>

            <h2>2. Privacidad</h2>
            <p>Tu privacidad es muy importante para nosotros. Por favor, revisa nuestra política de privacidad para entender cómo recopilamos, usamos y protegemos tu información personal.</p>

            <h2>3. Propiedad intelectual</h2>
            <p>Este sitio web contiene material que es de nuestra propiedad o está licenciado para nosotros. Este material incluye, pero no se limita a, el diseño, el layout, la apariencia y los gráficos. Queda prohibida su reproducción salvo en conformidad con el aviso de copyright, que forma parte de estos términos y condiciones.</p>

            <h2>4. Uso no autorizado</h2>
            <p>El uso no autorizado de este sitio web puede dar lugar a una reclamación por daños y/o ser un delito.</p>

            <h2>5. Enlaces a otros sitios web</h2>
            <p>Este sitio web puede incluir enlaces a otros sitios web de interés. Estos enlaces se proporcionan para tu conveniencia para proporcionar más información. No tenemos responsabilidad por el contenido de los sitios web vinculados.</p>

            <h2>6. Limitación de responsabilidad</h2>
            <p>Viandas Solidarias no será responsable por cualquier daño indirecto, especial o consecuente, ni por cualquier daño que resulte del uso o la imposibilidad de usar este sitio web o cualquier sitio vinculado, incluidos, pero no limitados a, la pérdida de ingresos o ganancias anticipadas, la pérdida de negocio, la pérdida de datos, la pérdida de reputación o el fondo de comercio, o la pérdida de ahorros previstos.</p>

            <h2>7. Cambios a estos términos</h2>
            <p>Podemos actualizar estos términos y condiciones de vez en cuando. Te recomendamos revisar esta página regularmente para estar al tanto de cualquier cambio.</p>

            <h2>8. Ley aplicable</h2>
            <p>Tu uso de este sitio web y cualquier disputa que surja de dicho uso del sitio está sujeto a las leyes de la Ciudad Autónoma de Buenos Aires.</p>
        </div>
    </div>
</main>

<!-- FOOTER -->
<footer class="footer">
    <nav>
        <ul>
            <li><a href="/termino">Términos y condiciones</a></li>
            <li><a href="/preguntasFrecuentes">Preguntas frecuentes</a></li>
            <li><a href="/contacto">Contacto</a></li>
        </ul>
    </nav>
</footer>
</body>

</html>
